IO_LOC clk H11;
IO_PORT clk PULL_MODE=UP;

IO_LOC "leds[0]" L14;
IO_PORT "leds[0]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds[1]" L16;
IO_PORT "leds[1]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds[2]" N14;
IO_PORT "leds[2]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds[3]" N16;
IO_PORT "leds[3]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds[4]" N15;
IO_PORT "leds[4]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds[5]" P16;
IO_PORT "leds[5]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds[6]" P15;
IO_PORT "leds[6]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds[7]" R16;
IO_PORT "leds[7]" PULL_MODE=UP DRIVE=4;

IO_LOC "leds2[0]" P9;
IO_PORT "leds2[0]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds2[1]" T9;
IO_PORT "leds2[1]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds2[2]" P8;
IO_PORT "leds2[2]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds2[3]" T8;
IO_PORT "leds2[3]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds2[4]" R8;
IO_PORT "leds2[4]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds2[5]" T7;
IO_PORT "leds2[5]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds2[6]" P6;
IO_PORT "leds2[6]" PULL_MODE=UP DRIVE=4;
IO_LOC "leds2[7]" T6;
IO_PORT "leds2[7]" PULL_MODE=UP DRIVE=4;

IO_LOC seven_seg_sel J11;
IO_PORT seven_seg_sel PULL_MODE=UP DRIVE=4;
IO_LOC "seven_seg[0]" A9;
IO_PORT "seven_seg[0]" PULL_MODE=UP DRIVE=4;
IO_LOC "seven_seg[1]" C9;
IO_PORT "seven_seg[1]" PULL_MODE=UP DRIVE=4;
IO_LOC "seven_seg[2]" L12;
IO_PORT "seven_seg[2]" PULL_MODE=UP DRIVE=4;
IO_LOC "seven_seg[3]" E14;
IO_PORT "seven_seg[3]" PULL_MODE=UP DRIVE=4;
IO_LOC "seven_seg[4]" D16;
IO_PORT "seven_seg[4]" PULL_MODE=UP DRIVE=4;
IO_LOC "seven_seg[5]" F15;
IO_PORT "seven_seg[5]" PULL_MODE=UP DRIVE=4;
IO_LOC "seven_seg[6]" E16;
IO_PORT "seven_seg[6]" PULL_MODE=UP DRIVE=4;
