IO_LOC clk IOT10A;
IO_PORT clk PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "nreset" IOR3A; //11
IO_PORT "nreset" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

IO_LOC "interrupt" IOR2A; // 21
IO_PORT "interrupt" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "ncs" IOR2B; //27
IO_PORT "ncs" PULL_MODE=UP IO_TYPE=LVCMOS33;

IO_LOC "miso" IOR8A; //28
IO_PORT "miso" PULL_MODE=DOWN DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "mosi" IOR8B; //26
IO_PORT "mosi" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

IO_LOC "sck" IOR9A; //22
IO_PORT "sck" PULL_MODE=DOWN IO_TYPE=LVCMOS33;


IO_LOC "out[0]" IOR6J;
IO_PORT "out[0]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "out[1]" IOR6E;
IO_PORT "out[1]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "out[2]" IOR6C;
IO_PORT "out[2]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "out[3]" IOR6A;
IO_PORT "out[3]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
