IO_LOC "clk" E2;
IO_PORT "clk" PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "tx" C3;
IO_PORT "tx" PULL_MODE=NONE DRIVE=2 BANK_VCCIO=3.3;
IO_LOC "rx" B3;
IO_PORT "rx" PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "ntrap" C10;
IO_PORT "ntrap" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "led1" C11;
IO_PORT "led1" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "led2" B10;
IO_PORT "led2" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;

IO_LOC "sdram_dqm[1]" L7;
IO_PORT "sdram_dqm[1]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dqm[0]" L8;
IO_PORT "sdram_dqm[0]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_ba[1]" K8;
IO_PORT "sdram_ba[1]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_ba[0]" L9;
IO_PORT "sdram_ba[0]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[12]" D1;
IO_PORT "sdram_address[12]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[11]" J1;
IO_PORT "sdram_address[11]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[10]" J8;
IO_PORT "sdram_address[10]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[9]" J2;
IO_PORT "sdram_address[9]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[8]" G4;
IO_PORT "sdram_address[8]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[7]" H4;
IO_PORT "sdram_address[7]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[6]" H1;
IO_PORT "sdram_address[6]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[5]" H2;
IO_PORT "sdram_address[5]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[4]" K7;
IO_PORT "sdram_address[4]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[3]" J11;
IO_PORT "sdram_address[3]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[2]" J10;
IO_PORT "sdram_address[2]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[1]" F7;
IO_PORT "sdram_address[1]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_address[0]" F6;
IO_PORT "sdram_address[0]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_nwe" J7;
IO_PORT "sdram_nwe" PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_cas" K10;
IO_PORT "sdram_cas" PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_ras" L10;
IO_PORT "sdram_ras" PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_sel" K9;
IO_PORT "sdram_sel" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_clk" E3;
IO_PORT "sdram_clk" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[15]" L3;
IO_PORT "sdram_data[15]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[14]" L4;
IO_PORT "sdram_data[14]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[13]" C2;
IO_PORT "sdram_data[13]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[12]" B2;
IO_PORT "sdram_data[12]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[11]" F1;
IO_PORT "sdram_data[11]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[10]" F2;
IO_PORT "sdram_data[10]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[9]" A1;
IO_PORT "sdram_data[9]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[8]" E1;
IO_PORT "sdram_data[8]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[7]" G2;
IO_PORT "sdram_data[7]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[6]" G1;
IO_PORT "sdram_data[6]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[5]" J4;
IO_PORT "sdram_data[5]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[4]" K4;
IO_PORT "sdram_data[4]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[3]" L2;
IO_PORT "sdram_data[3]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[2]" L1;
IO_PORT "sdram_data[2]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[1]" K1;
IO_PORT "sdram_data[1]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_data[0]" K2;
IO_PORT "sdram_data[0]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
