IO_LOC clk IOT10A;
IO_PORT clk PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "led_one" IOR3A;
IO_PORT "led_one" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "led_pulse" IOR2B;
IO_PORT "led_pulse" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "led_floating" IOT16A;
IO_PORT "led_floating" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "led_zero" IOT15B;
IO_PORT "led_zero" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "hlt" IOT17A;
IO_PORT "hlt" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "error" IOT16B;
IO_PORT "error" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "comp_data_hi" IOR6C;
IO_PORT "comp_data_hi" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "comp_data_lo" IOR6E;
IO_PORT "comp_data_lo" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

IO_LOC "scl_io" IOR6J;
IO_PORT "scl_io" PULL_MODE=UP DRIVE=4 IO_TYPE=LVCMOS33 OPEN_DRAIN=ON;
IO_LOC "sda_io" IOR10A;
IO_PORT "sda_io" PULL_MODE=UP DRIVE=4 IO_TYPE=LVCMOS33 OPEN_DRAIN=ON;

IO_LOC "button" IOR10B;
IO_PORT "button" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "hd_data[0]" IOR9A;
IO_PORT "hd_data[0]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[1]" IOR6H;
IO_PORT "hd_data[1]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[2]" IOR6G;
IO_PORT "hd_data[2]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[3]" IOR6F;
IO_PORT "hd_data[3]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[4]" IOR6D;
IO_PORT "hd_data[4]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[5]" IOR7A;
IO_PORT "hd_data[5]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[6]" IOR6I;
IO_PORT "hd_data[6]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[7]" IOR6A;
IO_PORT "hd_data[7]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_dc" IOR8A;
IO_PORT "hd_dc" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_e" IOR8B;
IO_PORT "hd_e" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

