IO_LOC clk IOT10A;
IO_PORT clk PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "led_r" IOR2A;
IO_PORT "led_r" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "led_g" IOR3A;
IO_PORT "led_g" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "led_b" IOR2B;
IO_PORT "led_b" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
