LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

#LOCATE COMP "clk_sdram" SITE "F1";
#IOBUF PORT "clk_sdram" IO_TYPE=LVCMOS33;
#FREQUENCY PORT "clk_sdram" 100 MHZ;

LOCATE COMP "led1" SITE "R1";
IOBUF PORT "led1" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "ntrap" SITE "U1";
IOBUF PORT "ntrap" IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led2" SITE "T1";
IOBUF PORT "led2" IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE  COMP "tx"  SITE "E1";
LOCATE  COMP "rx"  SITE "F2";
IOBUF   PORT "tx"  IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF   PORT "rx"  PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_clk" SITE "B9";
IOBUF PORT "sdram_clk" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_ras" SITE "B10";
IOBUF PORT "sdram_ras" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_cas" SITE "A9";
IOBUF PORT "sdram_cas" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_nwe" SITE "A10";
IOBUF PORT "sdram_nwe" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_ba[0]" SITE "B11";
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_ba[1]" SITE "C8";
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_address[0]" SITE "B13";
IOBUF PORT "sdram_address[0]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_address[1]" SITE "C14";
IOBUF PORT "sdram_address[1]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_address[2]" SITE "A16";
IOBUF PORT "sdram_address[2]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_address[3]" SITE "A17";
IOBUF PORT "sdram_address[3]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_address[4]" SITE "B16";
IOBUF PORT "sdram_address[4]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_address[5]" SITE "B15";
IOBUF PORT "sdram_address[5]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_address[6]" SITE "A14";
IOBUF PORT "sdram_address[6]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_address[7]" SITE "A13";
IOBUF PORT "sdram_address[7]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_address[8]" SITE "A12";
IOBUF PORT "sdram_address[8]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_address[9]" SITE "A11";
IOBUF PORT "sdram_address[9]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_address[10]" SITE "B12";
IOBUF PORT "sdram_address[10]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[0]" SITE "B6";
IOBUF PORT "sdram_data[0]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[1]" SITE "A5";
IOBUF PORT "sdram_data[1]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[2]" SITE "A6";
IOBUF PORT "sdram_data[2]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[3]" SITE "A7";
IOBUF PORT "sdram_data[3]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[4]" SITE "C7";
IOBUF PORT "sdram_data[4]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[5]" SITE "B8";
IOBUF PORT "sdram_data[5]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[6]" SITE "B5";
IOBUF PORT "sdram_data[6]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[7]" SITE "A8";
IOBUF PORT "sdram_data[7]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[8]" SITE "D8";
IOBUF PORT "sdram_data[8]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[9]" SITE "D7";
IOBUF PORT "sdram_data[9]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[10]" SITE "E8";
IOBUF PORT "sdram_data[10]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[11]" SITE "D6";
IOBUF PORT "sdram_data[11]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[12]" SITE "C6";
IOBUF PORT "sdram_data[12]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[13]" SITE "D5";
IOBUF PORT "sdram_data[13]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[14]" SITE "E7";
IOBUF PORT "sdram_data[14]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[15]" SITE "C5";
IOBUF PORT "sdram_data[15]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[16]" SITE "C10";
IOBUF PORT "sdram_data[16]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[17]" SITE "D9";
IOBUF PORT "sdram_data[17]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[18]" SITE "E11";
IOBUF PORT "sdram_data[18]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[19]" SITE "D11";
IOBUF PORT "sdram_data[19]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[20]" SITE "C11";
IOBUF PORT "sdram_data[20]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[21]" SITE "D12";
IOBUF PORT "sdram_data[21]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[22]" SITE "E9";
IOBUF PORT "sdram_data[22]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[23]" SITE "C12";
IOBUF PORT "sdram_data[23]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[24]" SITE "E14";
IOBUF PORT "sdram_data[24]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[25]" SITE "C15";
IOBUF PORT "sdram_data[25]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[26]" SITE "E13";
IOBUF PORT "sdram_data[26]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[27]" SITE "D15";
IOBUF PORT "sdram_data[27]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[28]" SITE "E12";
IOBUF PORT "sdram_data[28]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[29]" SITE "B17";
IOBUF PORT "sdram_data[29]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[30]" SITE "D14";
IOBUF PORT "sdram_data[30]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_data[31]" SITE "D13";
IOBUF PORT "sdram_data[31]" IO_TYPE=LVCMOS33 DRIVE=4;
