IO_LOC "clk" IOR17A;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "hlt" IOL15A;
IO_PORT "hlt" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS18;
IO_LOC "error" IOL16B;
IO_PORT "error" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS18;
IO_LOC "wfi" IOL21B;
IO_PORT "wfi" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS18;
IO_LOC "led" IOL22B;
IO_PORT "led" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS18;

IO_LOC "rx" IOB2B;
IO_PORT "rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "tx" IOB2A;
IO_PORT "tx" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "mosi" IOT37A;
IO_PORT "mosi" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "dc" IOR24A;
IO_PORT "dc" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "ncs" IOR24B;
IO_PORT "ncs" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "sck" IOT37B;
IO_PORT "sck" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "button1" IOT2A;
IO_PORT "button1" PULL_MODE=NONE IO_TYPE=LVCMOS18;
IO_LOC "button2" IOL5A;
IO_PORT "button2" PULL_MODE=NONE IO_TYPE=LVCMOS18;

IO_LOC "dac1_code[0]" IOB41B;
IO_PORT "dac1_code[0]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac1_code[1]" IOR17B;
IO_PORT "dac1_code[1]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac1_code[2]" IOR15B;
IO_PORT "dac1_code[2]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac1_code[3]" IOR15A;
IO_PORT "dac1_code[3]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac1_code[4]" IOR14B;
IO_PORT "dac1_code[4]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "comp_out_hi" IOR13A;
IO_PORT "comp_out_hi" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "comp_out_lo" IOR14A;
IO_PORT "comp_out_lo" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

IO_LOC "dac2_code[0]" IOB13A;
IO_PORT "dac2_code[0]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac2_code[1]" IOB13B;
IO_PORT "dac2_code[1]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac2_code[2]" IOB23A;
IO_PORT "dac2_code[2]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac2_code[3]" IOB23B;
IO_PORT "dac2_code[3]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac2_code[4]" IOB33B;
IO_PORT "dac2_code[4]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

