IO_LOC clk IOT10A;
IO_PORT clk PULL_MODE=NONE IO_TYPE=LVCMOS33;

//IO_LOC "led" IOR2A;
//IO_PORT "led" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "nhlt" IOR3A;
IO_PORT "nhlt" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "nwfi" IOR2B;
IO_PORT "nwfi" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "sda" IOT16A;
IO_PORT "sda" PULL_MODE=UP DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "scl" IOT15B;
IO_PORT "scl" PULL_MODE=UP DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "button1" IOR10B;
IO_PORT "button1" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "button2" IOT13A;
IO_PORT "button2" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "dac1_code[0]" IOR6H;
IO_PORT "dac1_code[0]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac1_code[1]" IOR6G;
IO_PORT "dac1_code[1]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac1_code[2]" IOR6F;
IO_PORT "dac1_code[2]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac1_code[3]" IOR6D;
IO_PORT "dac1_code[3]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac1_code[4]" IOR7A;
IO_PORT "dac1_code[4]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "comp_out_hi" IOR6I;
IO_PORT "comp_out_hi" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "comp_out_lo" IOR6A;
IO_PORT "comp_out_lo" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

IO_LOC "dac2_code[0]" IOR3B;
IO_PORT "dac2_code[0]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac2_code[1]" IOR10A;
IO_PORT "dac2_code[1]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac2_code[2]" IOR6J;
IO_PORT "dac2_code[2]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac2_code[3]" IOR6E;
IO_PORT "dac2_code[3]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "dac2_code[4]" IOR6C;
IO_PORT "dac2_code[4]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
