IO_LOC clk IOT10A;
IO_PORT clk PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "led_one" IOR3A;
IO_PORT "led_one" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "led_pulse" IOR2B;
IO_PORT "led_pulse" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "led_floating" IOR8A;
IO_PORT "led_floating" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "led_zero" IOR8B;
IO_PORT "led_zero" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "hlt" IOR9A;
IO_PORT "hlt" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "error" IOR6H;
IO_PORT "error" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "comp_data_hi" IOR6I;
IO_PORT "comp_data_hi" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "comp_data_lo" IOR7A;
IO_PORT "comp_data_lo" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

IO_LOC "scl_io" IOR6D;
IO_PORT "scl_io" PULL_MODE=UP DRIVE=4 IO_TYPE=LVCMOS33 OPEN_DRAIN=ON;
IO_LOC "sda_io" IOR6F;
IO_PORT "sda_io" PULL_MODE=UP DRIVE=4 IO_TYPE=LVCMOS33 OPEN_DRAIN=ON;

IO_LOC "button" IOR10B;
IO_PORT "button" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "hd_data[0]" IOR6A;
IO_PORT "hd_data[0]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[1]" IOR6C;
IO_PORT "hd_data[1]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[2]" IOR6E;
IO_PORT "hd_data[2]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[3]" IOR6J;
IO_PORT "hd_data[3]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[4]" IOR10A;
IO_PORT "hd_data[4]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[5]" IOR3B;
IO_PORT "hd_data[5]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[6]" IOT17B;
IO_PORT "hd_data[6]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_data[7]" IOT14B;
IO_PORT "hd_data[7]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_dc" IOT16B;
IO_PORT "hd_dc" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "hd_e" IOT17A;
IO_PORT "hd_e" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

