IO_LOC "clk" H11;
IO_PORT "clk" PULL_MODE=UP IO_TYPE=LVCMOS33;

IO_LOC "nreset" T5; //11
IO_PORT "nreset" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

IO_LOC "interrupt" T3; // 21
IO_PORT "interrupt" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "ncs" T4; //27
IO_PORT "ncs" PULL_MODE=UP IO_TYPE=LVCMOS33;

IO_LOC "miso" E9; //28
IO_PORT "miso" PULL_MODE=DOWN DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "mosi" E8; //26
IO_PORT "mosi" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

IO_LOC "sck" T15; //22
IO_PORT "sck" PULL_MODE=DOWN IO_TYPE=LVCMOS33;


IO_LOC "dds_out[0]" P11;
IO_PORT "dds_out[0]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "dds_out[1]" T11;
IO_PORT "dds_out[1]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "dds_out[2]" G16;
IO_PORT "dds_out[2]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "dds_out[3]" H15;
IO_PORT "dds_out[3]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;


IO_LOC "pwm_out[0]" H16;
IO_PORT "pwm_out[0]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "pwm_out[1]" H14;
IO_PORT "pwm_out[1]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "pwm_out[2]" K16;
IO_PORT "pwm_out[2]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "pwm_out[3]" J15;
IO_PORT "pwm_out[3]" PULL_MODE=NONE DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC "freq_in[0]" K15;
IO_PORT "freq_in[0]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

IO_LOC "freq_in[1]" K14;
IO_PORT "freq_in[1]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
