IO_LOC clk E2;
IO_PORT clk PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "leds[0]" C10;
IO_PORT "leds[0]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds[1]" C11;
IO_PORT "leds[1]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds[2]" B10;
IO_PORT "leds[2]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds[3]" B11;
IO_PORT "leds[3]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds[4]" D10;
IO_PORT "leds[4]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds[5]" D11;
IO_PORT "leds[5]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds[6]" G10;
IO_PORT "leds[6]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds[7]" G11;
IO_PORT "leds[7]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;

IO_LOC "leds2[0]" K5;
IO_PORT "leds2[0]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds2[1]" L5;
IO_PORT "leds2[1]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds2[2]" L11;
IO_PORT "leds2[2]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds2[3]" K11;
IO_PORT "leds2[3]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds2[4]" E10;
IO_PORT "leds2[4]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds2[5]" E11;
IO_PORT "leds2[5]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds2[6]" A10;
IO_PORT "leds2[6]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "leds2[7]" A11;
IO_PORT "leds2[7]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;

IO_LOC seven_seg_sel J5;
IO_PORT seven_seg_sel PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "seven_seg[0]" H7;
IO_PORT "seven_seg[0]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "seven_seg[1]" H8;
IO_PORT "seven_seg[1]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "seven_seg[2]" H5;
IO_PORT "seven_seg[2]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "seven_seg[3]" G8;
IO_PORT "seven_seg[3]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "seven_seg[4]" G7;
IO_PORT "seven_seg[4]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "seven_seg[5]" F5;
IO_PORT "seven_seg[5]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "seven_seg[6]" G5;
IO_PORT "seven_seg[6]" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
